@import "common.scss";
.content {
    background-color: #ffffff;
    overflow: hidden;
    padding: 1.95rem .75rem 0;
    .item {
        border-bottom: 2px solid $c666;
        height: 1.3rem;
        line-height: 1.3rem;
        overflow: hidden;
        font-size: .32rem;
        color: $c333;

        label {
            float: left;
            width: .96rem;
            text-align: justify;
            position: relative;
            margin-right: .2rem;
            &::before {
                content: ':';
                position: absolute;
                right: -0.1rem;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 100%;
                height: 0;
            }
        }
        input {
            width: 4.6rem;
            height: 1.28rem;
            border: none;
            outline: none;
            float: left;
            line-height: 1.28rem;
            &[name=code] {
                width: 3.2rem;
            }
        }
        a {
            float: right;
            font-size: .28rem;
            color: #fe0041;
            padding-right: .2rem;
        }
    }
    .foget {
        padding-top: .13rem;
        a {
            color: $c666;
            font-size: .28rem;
            line-height: .85rem;
            float: right;
            padding-right: .2rem;
            height: .85rem;
        }
    }
    .submit {
        font-size: .38rem;
        color: $cfff;
        text-align: center;
        line-height: 1rem;
        width: 100%;
        height: 1rem;
        border: none;
        outline: none;
        border-radius: 0.1rem;
        background-color: $mainc;
    }
    .next {
        padding: .5rem 0 .4rem;
    }
    .reade {
        font-size: .28rem;
        color: $c666;
        height: .5rem;
        line-height: .5rem;
        input {
            vertical-align: middle;
        }
        span {
            padding-left: .2rem;
        }
        a {
            color: $c333;
            font-weight: bold;
        }
    }
}